{{ if .Site.Params.widgets.recent_articles }}
<div class="widget-wrap">
    <h3 class="widget-title">
        {{with .Site.Data.l10n.widgets.recent_articles.title}}{{.}}{{end}}
    </h3>
    <div class="widget">
        <ul id="recent-post">
            {{ range first 8 (where .Site.RegularPages "Type" "post") }}
            {{ partial "article_li_w" . }}
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
