<div class="widget-wrap">
  <h3 class="widget-title">
  SPONSORED
  </h3>
  {{ partial "google-banner" . }}

  {{/* <div class="widget amazon-300">
  <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=amazonsale&banner=0YJD2D3K0ZTSRW1PTVR2&f=ifr&linkID=2c01cd71881650f61491211354e2accb&t=gzw-22&tracking_id=gzw-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div> */}}
</div>
