{{ partial "head" . }}

<div id="container">
	{{ partialCached "header" . }}

   	<div class="outer">
   	<!-- {{ if not .Params.disable_profile }}
    	{{ partialCached "profile" . }}
    {{ end }} -->

    <section id="main">
    {{ block "main" . }}{{ end }}
    </section>

   	{{ if not .Params.disable_widgets }}
    	{{ partial "sidebar" . }}
    {{ end }}
	</div>
</div>

{{ partialCached "footer" . }}
</body>
</html>
