<header class="article-header">
    {{ partial "google-banner" . }}
    <a href="{{ .Permalink }}">
    <h1 class="article-title" itemprop="name">
        {{ .Title }}
    </h1>
    </a>
    {{ partial "article_meta" . }}
    <!-- {{ partial "share" . }} -->
</header>
