<article class="article article-type-post" itemscope="" itemprop="blogPost">
  <a href="{{ .Permalink }}" class="article-li-link">
    <div class="article-inner article-li">      
      {{ partial "thumbnail" (dict "parsingContent" .Content "params" .Params) }}
      <div class="article-entry" itemprop="articleBody">
        <div class="article-li-title">
        {{ .Title }}
        </div>
        {{ partial "article_meta_li" . }}
      </div>    
    </div>
  </a>
</article>