<a href="{{ .Permalink }}" class="title">
  <li>
    <div class="item-thumbnail">
      {{ partial "thumbnail" (dict "parsingContent" .Content "widget" "true" "params" .Params) }}
    </div>
    <div class="item-inner">
      <p class="item-title">
        {{ .Title }}
      </p>
      {{ partial "article_meta" . }}
    </div>
  </li>
</a>
