<div class="article-meta">
    {{ if not .Params.nodateline }}
    <div class="article-date">
        <i class="fa fa-calendar"></i>
        <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
    </div>
    {{ end }}
    {{ if isset .Params "categories" }}
        {{ $categoriesLen := len .Params.categories }}
        {{ if gt $categoriesLen 0 }}
        <div class="article-category">
            <i class="fa fa-folder"></i>
            {{ range $k, $v := .Params.categories }}
            {{ . }}
            {{ if lt $k (sub $categoriesLen 1) }}&middot;{{ end }}
            {{ end }}
        </div>
        {{ end }}
    {{ end }}

    {{ if isset .Params "tags" }}
        {{ $tagsLen := len .Params.tags }}
        {{ if gt $tagsLen 0 }}
        <div class="article-category">
            <i class="fa fa-tags"></i>
            {{ range $k, $v := .Params.tags }}
            {{ . }}
            {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
            {{ end }}
        </div>
        {{ end }}
    {{ end }}
</div>
