
{{ $related := .Site.RegularPages.Related . | first 10 }}
{{ with $related }}
  <hr>
  <h2>関連コンテンツ</h2>
  {{ range . }}
    <p><a href="{{ .URL }}">{{ .Title }}</a></p>
  {{ end }}
{{ end }}

{{ with $related }}
  {{ range . }}
    <hr>
    {{ partial "google-banner" . }}
    <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
    {{ partial "article_meta" . }}
    {{ .Content }}
  {{ end }}
{{ end }}
