{{ $category := .Category }}
{{ $action := .Action }}
{{ $label := .Label }}

{{ with .UA }}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ . }}', 'auto');
ga('send', 'event', {
  'eventCategory': '{{ $category }}',
  'eventAction': '{{ $action }}',
  'eventLabel': '{{ $label }}'
});
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
{{ end }}