
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>関連記事</h3>
<ul class="related">
	{{ range . }}
  <a href="{{ .RelPermalink }}">
    <li class="related border">
      <div class="article-inner article-li">      
        {{ partial "thumbnail" (dict "parsingContent" .Content "params" .Params) }}
        <div class="article-entry" itemprop="articleBody">
          <div class="article-li-title">
          {{ .Title }}
          </div>
          {{ partial "article_meta_li" . }}
        </div>   
      </div>
    </li>
  </a>
	{{ end }}
</ul>
{{ end }}