<aside id="sidebar">
  {{ partial "widgets/upper_ads" . }}
    {{ partial "widgets/recent_articles" . }}
    {{ partial "widgets/categories" . }}
    {{ partial "widgets/tags" . }}
    {{ partial "widgets/tag_cloud" . }}

    <div id="toTop" class="fa fa-angle-up"></div>
</aside>
