<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <img src="{{ .Params.banner | absURL }}" class="article-banner">
        {{ end }}

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ partial "toc" . }}
            {{ .Content }}
            {{ partial "google-banner" . }}
            {{ partial "content_related" . }}
        </div>
        {{ partial "article_footer" . }}
    </div>
    {{ partial "prev_next_post" . }}
</article>

{{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ template "_internal/disqus.html" . }}
    </div>
</section>
{{ end }}

{{/* GAイベントの送信 */}}
{{ $date := dateFormat "2006-01-02" .Params.date }}
{{ $site := .Params.sitename }}
{{ $title := .Params.title }}
{{ $ua := .Site.GoogleAnalytics }}
{{ partial "ga_event"  (dict "Category" "日付-タイトル" "Action" $date "Label" $title "UA" $ua) }}
{{ partial "ga_event"  (dict "Category" "日付-サイト" "Action" $date "Label" $site "UA" $ua) }}
{{ partial "ga_event"  (dict "Category" "サイト-タイトル" "Action" $site "Label" $title "UA" $ua) }}
