{{ $isWidget := .widget }}
{{ $userDefinedThumbnail := .params.thumb }}
{{ $unescapedHtml := .parsingContent | htmlUnescape }}
{{ $adTagPrefixedHtml := index (findRE "<img class=.*fig-img.*>" $unescapedHtml 1) 0 }}
{{ with $adTagPrefixedHtml | or $userDefinedThumbnail }}
  {{ $thumbnailPrefixedHtml := index (findRE "src=.*?(.|\n)*? " $adTagPrefixedHtml 1) 0 }}
  {{ $wrappedThumbnailLink := replaceRE "^src=([^/]+)" "$1" $thumbnailPrefixedHtml }}
  {{ $computedThumbnailLink := trim $wrappedThumbnailLink "\" " }}
  {{ with $isWidget }}
  <div class="thumbnail border">
    {{ with $userDefinedThumbnail }}
      <span style="background-image:url({{ $userDefinedThumbnail }})" alt="{{ $.Title }}" class="thumbnail-image"></span>
    {{ else }}
      <span style="background-image:url({{ $computedThumbnailLink }})" alt="{{ $.Title }}" class="thumbnail-image"></span>
    {{ end }}
  </div>
  {{ else }}
  <div class="article-li-thumbnail thumbnail border">
    {{ with $userDefinedThumbnail }}
      <img src="{{ $userDefinedThumbnail }}" class="thumbnail">
    {{ else }}
      <img src="{{ $computedThumbnailLink }}" class="thumbnail">
    {{ end }}
  </div>   
  {{ end }} 
{{ else }}
  {{ with $isWidget }}
    <div class="thumbnail">
      <span class="thumbnail-image thumbnail-none"></span>
    </div>
  {{ end }} 
{{ end }}