
<div class="figure" {{ with (.Get "thumbnailWidth") }}style="width:{{ . }};"{{ end }} align="center">
    <a class="ad" href="{{ .Get "src" }}"{{ with (.Get "title") }} title="{{ . }}"{{ end }} target="_blank">
    <img class="ad-thumb fig-img {{ if ne (.Get "borderHidden") "true" }} border{{ end }}{{ with (.Get "shadow") }} shadow{{ end }}" src="{{ with (.Get "thumbnail") }}{{ . }}{{ else }}{{ .Get "src" }}{{ end }}" {{ if or (.Get "thumbnail-width") (.Get "thumbnail-height") }}style="{{ with (.Get "thumbnail-width") }}width: {{ . }};{{ end }}{{ with (.Get "thumbnail-height") }}height: {{ . }};{{ end }}"{{ end }}{{ with (.Get "title") }} alt="{{ . }}"{{ end }}>
    </a>
  {{ if .Get "title" }}
    <span class="caption">{{ .Get "title" }}</span>
  {{ end }}
</div>
{{ if ne (.Get "logoHidden") "true" }}
<a class="ad" href="{{ .Get "src" }}"{{ with (.Get "title") }} title="{{ . }}"{{ end }} target="_blank"><div class="amazon-logo"></div></a>
{{ end }}

<div style="clear:both;"></div>
